# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environments
# ==========================
env/
venv/
.venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Django
# ==========================
media/
staticfiles/

# SQLite Database
db.sqlite3

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Mypy
# ==========================
.mypy_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Misc
# ==========================
*.swp